{% extends "base.html" %}
{% load i18n %}
{% block title %}
{{ block.super }}:: {% trans "speaker verification: success" %}
{% endblock %}

{% block content %}
<center><h1>{% trans "UA BOLT Iraqi Arabic Speaker Verification: Success" %}</h1></center>

   <h1 >{{ title }}</h1>
   <div style="padding-top:2em {% if LANGUAGE_BIDI %} ;direction:rtl;text-align:right{% endif %}">
   {%  blocktrans %}
      <p> Congratulations, you've passed. Please note your code, which is
      {{ user_code }}. Please
  {%  endblocktrans %}
       <a href="{% url 'instructions' %}">{% trans "click here" %}</a>
       {% trans "to continue to the task." %}</p>
    </div>
    <!--  in case we ever want to display English and IA simultaneously
    <div>
        <p> Congratulations, you've passed. Please note your code, which is
           {{ user_code }}. Please <a href="{% url 'instructions' %}"> click here </a>
           to continue to the task.
        </p>
    </div>
    -->
{% endblock %}
