{% extends "base.html" %}
{% load i18n %}


{% block title %}

{{ block.super }}:: {% trans "speaker verification: failure" %}

{% endblock %}


{% block content %}

<center><h1>
      {% trans "UA BOLT Iraqi Arabic Speaker Verification: Failed" %}
</h1></center>

<h1 >{{ title }}</h1>
<div style="padding-top:2em {% if LANGUAGE_BIDI %} ;direction:rtl;text-align:right{% endif %}">
    <p>
        {% trans "Sorry, you did not pass our pre-test, so you cannot continue to the task. Thank you for your time." %}
    </p>
</div>
<div>
    <p>
        Sorry, you did not pass our pre-test, so you cannot continue to the task. Thank you for your time.
    </p>
</div>

{% endblock %}
