{% extends "base.html" %}
{% load i18n %}
{% block title %}
{{ block.super }}:: {% trans "speaker verification" %}
{% endblock %}

{% block content %}
<center><h1>{% trans "UA BOLT Iraqi Arabic Speaker Verification" %}</h1></center>

<form role="form" action="" method="post">{% csrf_token %}

   <h1 >{{ title }}</h1>
   <div {% if LANGUAGE_BIDI %} style="direction:rtl;text-align:right" {% endif %}>
      {{ form.as_p }} 
      <input type="submit" value="Submit" />
   </div>


</form>
{% endblock %}
