{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div align="center">
    <h1 style="margin-top:2em">Thank you for participating.</h1>
    <div style="padding-top:2em {% if LANGUAGE_BIDI %} ;direction:rtl;text-align:right{% endif %}">
    <p>
        {% blocktrans %}
        The task is now complete. Pending a review of your submissions (to verify that you have not
        left too many answers blank, for example), we will provide payment through Amazon Mechanical Turk. You can
        continue with another task now by clicking
        {% endblocktrans %}
        <a href="{% url "instructions" %}">{% trans "here" %}</a>.
    </p>
    </div>
    <!-- in case we want to show English and IA simultaneously
    <div style="text-align:left">
        <p>
        The task is now complete. Pending a review of your submissions (to verify that you have not
        left too many answers blank, for example), we will provide payment through Amazon Mechanical Turk. You can
        continue with another task now by clicking <a href="{% url "instructions" %}">here</a>.
        </p>
    </div>
    <br />
    -->
    </div>
{% endblock %}
