{% extends "base.html" %}

{% load bootstrap_toolkit %}
{% load i18n %}

{% block content %}

    <h1 {% if lang == "arabic"%} style="text-align:right" {% endif %}>{{ title }}</h1>
    
    <p>&nbsp;</p>
    
    <h2 style="width=100%; text-align:center">{{ hyp }}</h2>
    
    <p>&nbsp;</p>
        
    <form class="form-{{ layout }}" method="post">
        {% csrf_token %}

        {% for field in form %}
	        {% include "bootstrap_toolkit/field.html" %}
        {% endfor %}

        {% if lang == "arabic" %}
            <div style="width;100%; text-align:right">
        {% endif %}

        <input type="submit" value="{% trans "Submit" %}" class="btn btn-primary">

        {% if lang == "arabic" %}
            </div>
        {% endif %}


    </form>

{% endblock %}
