{% extends "base.html" %}

{% load bootstrap_toolkit %}
{% load i18n %}
{% block extra_head %}
    <script type="text/javascript">
        $(document).ready(function(){
            tag = $("#hyp");
            text = tag.text();
            if(text.indexOf != -1){
                pre = text.split("[")[0];
                suf = text.split("]")[1];
                bt = text.split("[")[1].split("]")[0]
                tag.empty()
                tag.append(pre)
                color = $("<span style=\"color:red\"></span>")
                color.text("[" + bt + "]")
                tag.append(color)
                tag.append(suf)
            }
        });
    </script>
{% endblock %}

{% block content %}

    <h1 {% if lang == "arabic"%} style="text-align:right" {% endif %}>{{ title }}</h1>
    
    <p>&nbsp;</p>
    
    <h2 id="hyp" style="width=100%; text-align:center; {% if lang == "arabic" %}direction:rtl;{% endif %}">{{ hyp }}</h2>
    
    <p>&nbsp;</p>
        
    <form class="form-{{ layout }}" method="post">
        {% csrf_token %}

        {% for field in form %}
	        {% include "bootstrap_toolkit/field.html" %}
        {% endfor %}
        

        {% if lang == "arabic" %}
            <div style="width;100%; text-align:right">
        {% endif %}

        <input type="submit" value="{% trans "Submit" %}" class="btn btn-primary">

        {% if lang == "arabic" %}
            </div>
        {% endif %}


    </form>

{% endblock %}
