{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% blocktrans %}   <center>
    	<h3>Welcome to the UA BOLT "clarification and rephrase" language task.</h3></center>
<br />
<p>In the following pages we will present you with sentences that have parts of the sentence removed.  For each sentence, you will be shown two pages: On the first, you will be asked questions about the missing part, then, after you submit your answers, you will be taken to another page where you will be shown what was removed and asked some additional questions.  When you have submitted your answers to both pages, you will then be presented with a new sentence.</p>
<p>You can stop at any time, although we ask that you complete the two pages of the current sentence before stopping.</p>
<p>Also, you can return to this same web site to continue doing more later -- the task will pick up where you left off.</p>
<p>Your answers to these questions will help us build a better language translation system!</p>
<p>Please do as much as you can, as the more data we get from human language speakers, the better our computer system will get!</p>
<p>Thank you for your help, we really appreciate it!</p> {% endblocktrans %}

<center>	<a href="{% url "pos_annotation" %}" style="font-size:2em">{% trans "Start" %}</a>
    </center>
{% endblock %}
